@import "bootstrap";

html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
  background: #e8e8e8;
}

html {
  overflow-y: scroll;
}

.nostyle-link:hover {
  text-decoration: none;
}

li {
  a {
    color: white;
    text-decoration: none;
  }
  a:hover {
    color: #9D5C63;
    text-decoration: none;
  }
}


